﻿
.boardSpace {
    width: 8vh;
    height: 8vh;
    background-color: green;
}
.boardSpaceImage {
    width: 100%;
    height: 100%;
    display: block;
}
#board {
    width: 64vh;
    height: 64vh;
    margin: auto;
}


.scoreLabel {
    min-height: 20px;
    height: 8vh;
    width: 28vh;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
    text-align: center;
}
#scoreTable {
    height: 10vh;
    padding-top: 3vh;
    width: 64vh;
    margin: auto;
}


#backgroundImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../images/felt.jpg');
    left: 0px;
    top: 0px;
    z-index: -10;
}


#turnIndicator {
    height: 5vh;
    font: 3vh arial;
    font-weight: 900;
    width: 64vh;
    margin: auto;
    text-align: center;
    color: white;
}


#instructionsButton {
    width: 20vw;
    height: 4vh;
    padding-top: 2vh;
    margin: auto;
    border-radius: 3px;
    color: white;
    text-align: center;
    background-color: black;
    font: 0.5vh;
}


#gameEndBox {
    position: absolute;
    width: 32%;
    height: 32%;
    left: 34%;
    top: 26%;
    z-index: 900;
    border-radius: 3px;
    border: black 3px solid;
    background-color: white;
}
#gameEndMenuButton {
    width:40%;
    height:20%;

    position:absolute;

    top:75%;
    left:30%;

    background-color:darkgray;
    border-style: solid;
    border-radius:5px;

    margin:auto;
    display:flex;
}
.gameEndMenuButtonText
{
    text-align:center;
    margin:auto;
}
