﻿body, html {
    height: 100%;
}


#backgroundImg {
    position:fixed;

    width:100vw;
    height: 100vh;
    background: url('../images/felt.jpg');
    left: 0px;
    top: 0px;

    z-index: -10;
}

#documentPage {
    min-width: 600px;
    display: inline-block;

    width: 90%;
    min-height: 95vh;

    padding: 0px 5% 0px 5%;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

#document {

    width: 540px;
    padding: 30px;
    background-color: white;
    color: black;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em ;
}

.figureDesc
{
    font-size: 0.8em;
    color:gray;
    font-style:italic;
    text-align:center;
    width:100%;
}


.instructionsSection
{
    width:60%;
    height:0;
    padding-bottom:65%;

    margin:auto;
}
.instructionsImage
{
    width:100%;
}

#menuButton {
    width: 34%;
    height: 50px;
    line-height:50px;

    background-color: gray;

    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    border-style:solid;
    
    color: white;
    text-align: center;
    margin: auto;
}