﻿#backgroundImg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../images/felt.jpg');
    left: 0px;
    top: 0px;
    z-index: -10;
}


.introTitle
{                     
    text-align: center;     
    min-width: 250px;       
}
.introButton 
{
    min-width:180px;
    max-width:360px;
    min-height: 75px;
    max-height: 150px;
}